html
  head
    title Alien Chat
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='css/index.css')
  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h3(class='masthead-brand') 
          .inner.cover
            h1(class='cover-heading') Connecting MNNIT
            p(class='lead') 
            form(action='/join', method='post', class='form-horizontal', role='form')
              .form-group.row
                .input-group.input-group-lg.col-xs-6.col-md-offset-3
                  label(class='sr-only' for='username') Username
                  .input-group-addon
                    span(class='glyphicon glyphicon-user' aria-hidden='true')
                  input(type='text', class='form-control', id='username' name='username', placeholder='handle')
              .form-group.row
                .input-group.input-group-lg.col-xs-6.col-md-offset-3
                  label(class='sr-only' for='roomname') Roomname
                  .input-group-addon
                    span(class='glyphicon glyphicon-map-marker' aria-hidden='true')
                  input(type='text', class='form-control', id='roomname', name='roomname', placeholder=' Room')                    
              button(type='submit', id='submit' class='btn btn-primary') Join
          .mastfoot
            .inner
              
    script(type='text/javascript', src='js/jquery-1.11.1.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/index.js')
